<html>

{% extends "layout.html" %}


{% block title %}Welcome Page{% endblock %}


{% block content %}
<div class = "container">


<div class="container">
            <div class="orders-header">
                <h1>Earnings</h1>
            </div>

        <ul class="nav-links">
                <li><a href="{{ url_for('current_orders') }}">Track Current Orders</a></li>
                 <li><a href="{{ url_for('top_pizzas') }}">Top Pizzas This Month</a></li>



            </ul>


            <form method="GET" action="/admin/earnings" class="filter-form">
                <select name="group_by" onchange="this.form.submit()">
                    <option value="day" {% if group_by == 'month' %}selected{% endif %}>Month</option>
                    <option value="week" {% if group_by == 'age' %}selected{% endif %}>Age</option>
                    <option value="month" {% if group_by == 'gender' %}selected{% endif %}>Gender</option>
                    <option value="month" {% if group_by == 'postcode' %}selected{% endif %}>Postal Code</option>
                </select>
            </form>



        </div>

</div>







{% endblock %}

</html>>